<!DOCTYPE html>
<html>
    <head>
       {%block title%} <title>Home</title> {%endblock%}
    </head>
    <body>
    {% include ('nav.html.twig')%}
        {%block content%}
        {%endblock%}
    </body>
</html>