{% extends 'base.html.twig' %}

        {%block content%}
            <h1>Home</h1>
            <ul>
                <li><a href="./?action=listResources">Recursos</a></li>
            </ul>
        {%endblock%}